.button-container {
  width: 325px;
  height: 50px; /* buton yüksekliğini formun tasarımına göre ayarlayabilirsin */
  margin-top: 15px;
  position: relative;
}

/* Başlangıç buton */
.submit {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 50px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background: linear-gradient(to right,#ffb369 0%,#ff4272 100%);
  border-radius: 200px;
  cursor: pointer;
  transition: all 0.4s ease;
  text-decoration: none;
}

/* Tik top */
.tick-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background: linear-gradient(to right,#ffb369 0%,#ff4272 100%);
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  display: grid;
  place-items: center;
  transition: all 0.5s ease;
  z-index: 1;
}

.tick-circle svg {
  width: 50px;
  height: 50px;
  display: block;
  fill: white;
}
