<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/decor_admins.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="../static/css/selection.css">
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-4E0S2QW6KC"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-4E0S2QW6KC');
</script>
<style>
.progress-container {
    width: 100%;
    background: #eee;
    border-radius: 8px;
    overflow: hidden;
}

.progress-bar {
    height: 25px;
    text-align: center;
    color: black;
    font-weight: bold;
    line-height: 25px;
    border-radius: 8px;
    transition: width 0.4s ease;
}

.progress-bar.safe {
    background: green;
}

.progress-bar.warning {
    background: orange;
}

.progress-bar.danger {
    background: red;
}
</style>
</head>
<body>

<div class="admin-container">
    <h1>Admin Kontrol Paneli</h1>
    <p class="subtitle">Yönetim araçlarını buradan kullanabilirsiniz</p>

    <div class="card-grid">

        <!-- Broadcast -->
        <a href="/admin/broadcast-panel" class="admin-card">
            <h3>📣Broadcast</h3>
            <p>Site geneline duyuru mesajı yayınla</p>
        </a>

        <!-- Yenilik / Güncelleme -->
        <a href="/admin/news" class="admin-card">
            <h3>🚀Yenilik Ekle</h3>
            <p>Sisteme yeni özellik veya güncelleme ekle</p>
        </a>

    </div>

<h3>Depolama Kullanımı</h3>
<p><strong>{{ display_usage }}</strong> / 10 GB kullanıldı</p>

<div class="progress-container">
    <div class="progress-bar {{ bar_class }}" 
         style="width: {{ percent if percent > 1 else 1 }}%;"> 
         {{ percent }}%
    </div>
</div>
<footer style="text-align:center; color:#888; font-size:14px; padding:20px;">
  © <span id="year"></span> infinitesoft-tr. Tüm hakları saklıdır.
</footer>
<script>
  document.getElementById("year").textContent = new Date().getFullYear();
</script>
<script>
    fetch("/delete/" + filename, {
  method: "DELETE",
  headers: {
    "X-SECRET": "123456"
  }
})

</script>
</body>
</html>
