<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Infinitesoft{% endblock %}</title>
    <meta name="description" content="Infinitesoft-tr'nin ürettiği projelere bakın! Infinitecloud adlı bulutumuz,AI tools ile arkaplan kaldırma vb. işlerinizde yardımcı olacaktır! Ancak sakın Çamsepeti adlı projemize kredi kartı bilgilerinizi girmeyin, okul projesidir.Sizi de bekleriz!">
    <!-- GLOBAL CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <!-- SAYFA ÖZEL CSS -->
    {% block css %}
    <link rel="stylesheet" href="{{url_for('static',filename='css/decor_projects.css')}}">
    {% endblock %}
    {% block icon %}
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
{% block content %}{% endblock %}
{% if broadcast_message %}
<script>
    alert("{{ broadcast_message }}");
</script>
{% endif %}
{% if session.can_delete %}
<a href="/admins" class="admin-btn">⚙</a>
{% endif %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "name": "Infinitesoft-tr",
  "url": "https://infinitesoft-tr.com",
  "logo": "https://infinitesoft-tr.com/static/favicon.ico",
  "sameAs": [
    "https://github.com/LastHope48"
  ]
}
</script>

</body>
</html>
