<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>Guides | Tarifler</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/decor_guides.css')}}">
    <link rel="icon" href="{{url_for('static',filename='favicon.ico')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <a href="{{url_for('guides.add')}}" class="add">
      <i class="fa-solid fa-plus"></i>
    </a>
<header class="header">
    <h1>📒 Tarifler</h1>
</header>
<main class="cards-container">
  {% if recipes %}
    {% for r in recipes %}
      <div class="card-wrapper">
        <a href="{{url_for('guides.recipe_detail',id=r.id)}}" class="guide-card">
          <img src="{{url_for('static',filename=r.image_url)}}">
          <h3>{{ r.title }}</h3>
          <p>{{ r.desc }}</p>
        </a>

        {% if session.get("can_delete") %}
        <form method="POST" action="{{url_for('guides.delete_recipe',id=r.id)}}" class="delete-form">
          <button type="submit" class="admin-badge">Sil</button>
        </form>
        {% endif %}
      </div>
    {% endfor %}
  {% else %}
    </main> <!-- Grid’i kapat -->
    <div class="no-recipes-wrapper">
      <p class="no-recipes">📖 Henüz tarif yok. <a href="{{url_for('guides.add')}}">İlk tarifi ekleyen sen ol!</a></p>
    </div>
    <main class="cards-container"> <!-- gerekirse yeniden aç -->
  {% endif %}



</body>
</html>
