{% extends "base_ic.html" %}

{% block title %}InfiniteCloud{% endblock %}
{% block body_class %}dashboard-page{% endblock %}
{% block style %}
<style>
.main-content::-webkit-scrollbar {
  width: 10px;
}

.main-content::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 5px;
}
</style>
{% endblock %}
{% block content %}

<header class="top-bar">
    {% if current_user.is_authenticated %}
    <span class="welcome-text">
        Merhaba, {{ current_user.name.split(' ')[0] }} 👋
    </span>
    {% else %}
    <span>Merhaba</span>
    {% endif %}
    <div class="user-profile"></div>
</header>

<section class="content-card">
    <h2>Hızlı İşlemler</h2>
    <p>Dosyalarınızı yönetmek ve yeni projeler başlatmak için aşağıdaki paneli kullanın.</p>

<div class="grid-stats">
    <div class="stat-box">
        <p class="p-1">Toplam Dosya</p>
        <h3>{{ total_files }}</h3>
    </div>
</div>

</section>
{% endblock %}

{% block scripts %}

<script>
// Buraya sayfaya özel scriptler ekleyebilirsin
</script>

{% endblock %}
