<!DOCTYPE html>
<html lang="tr">
<head>
    <title>InfiniteCloud</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/main_layout_infinitecloud.css">
    <link rel="stylesheet" href="../static/css/decor_home_cloud.css">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}?v=3">
    <link rel="stylesheet" href="../static/css/selection.css">
    <link rel="stylesheet" href="../static/css/custom_scroll_bar_white.css">
    <link rel="stylesheet" href="{{url_for('static',filename='css/decor_login_ic.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
/>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-4E0S2QW6KC"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-4E0S2QW6KC');
</script>
</head>
<body>
<div class="dashboard-container">

    <div class="sidebar">
        <a href="{{url_for('app.cloud')}}" class="logo">InfiniteCloud</a>

        <a href="{{url_for('app.projects')}}" class="nav-item">
            <i class="fa-brands fa-squarespace"></i> Projeler
        </a>

        <a href="{{url_for('app.login_ic')}}" class="nav-item">
            <i class="fa-solid fa-right-to-bracket"></i> Giriş Yap
        </a>
    </div>

    <div class="main-content">
        <div class="center-wrapper">

            <div class="auth-card">
                <h2>Hesap Oluştur</h2>

                <form method="POST">
                    <input type="text" name="username" placeholder="Kullanıcı Adı" required>
                    <input type="password" name="password" placeholder="Şifre" required>

                    <button type="submit">Hesap Oluştur</button>
                </form>

                <p class="auth-switch">
                    Zaten hesabın var mı?
                    <a href="{{url_for('app.login_ic')}}">Giriş Yap</a>
                </p>
            </div>

        </div>
    </div>
</div>
<footer class="footer-text">
    <div>© 2026 infinitesoft-tr. Tüm hakları saklıdır.</div>
    <div class="footer-links-container">
        <a href="#" class="footer-link">Gizlilik Politikası</a> • 
        <a href="#" class="footer-link">Kullanım Şartları</a> • 
        <a href="#" class="footer-link">Destek</a>
    </div>
</footer>
</div>
<script>
  document.getElementById("year").textContent = new Date().getFullYear();
</script>
</body>
</html>