<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>InfiniteCloud Upload</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/decor_upload.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}?v=3">
    <link rel="stylesheet" href="../static/css/selection.css">
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-4E0S2QW6KC"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-4E0S2QW6KC');
</script>
</head>
<body>
<main>
    <h2>Dosya Yükle</h2>

    <form method="post">
        <input type="password" name="password" placeholder="Şifre" required>
        <button type="submit">Kontrol Et</button>
    </form>
    
    {% if msg %}
        <p class="msg">{{ msg }}</p>
    {% endif %}
</div>
</main>
<footer style="text-align:center; color:#888; font-size:14px; padding:20px;">
  © <span id="year"></span> infinitesoft-tr. Tüm hakları saklıdır.
</footer>
<script>
  document.getElementById("year").textContent = new Date().getFullYear();
</script>

</body>
</html>